.buttons {
    display: flex;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: silver;
    float: right;
    margin-top: 0px;
    margin-right: 8px;
    
}

.buttons-save {
    display: flex;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: silver;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 100px;

}
.recipe-form {
    border: 3px solid ;
    align-self: flex-end;

}
.close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    float: right;
}

.recipe-form-container {
    display: flex;
    align-items: right;
    justify-content: center;
    margin-top: 10px;
}

.style-instructions{
    margin-top: 5px;
}

#recipe-instructions-input{
    
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
}

.recipe-form-line {

    margin-top: 20px;
}
.recipe-form-line-ingredients {

    margin-top: 10px;
}